APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8003
DB_AUTO_CREATE=false
DATABASE_URL=postgresql+psycopg://calls_user:calls_password@host:5432/calls_db
JWT_SECRET=replace_me
JWT_ALGORITHM=HS256
INTERNAL_API_KEY=replace_me
YC_S3_ENDPOINT=https://storage.yandexcloud.net
YC_S3_REGION=ru-central1
YC_S3_BUCKET=replace-me
YC_ACCESS_KEY_ID=replace_me
YC_SECRET_ACCESS_KEY=replace_me
YMQ_ENDPOINT_URL=https://message-queue.api.cloud.yandex.net
YMQ_QUEUE_URL=replace_me
YMQ_REGION=ru-central1
YMQ_ACCESS_KEY_ID=replace_me
YMQ_SECRET_ACCESS_KEY=replace_me
